# =========================
# ENTORNO PYTHON
# =========================
venv/
.env
.env.local

# =========================
# CACHE PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# STREAMLIT (SECRETOS)
# =========================
.streamlit/secrets.toml

# =========================
# DATOS LOCALES
# =========================
data/
logs/

# =========================
# IDE / EDITORES
# =========================
.vscode/
.idea/

# =========================
# OTROS
# =========================
*.log
*.sqlite3
